
* {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
}

html,
body{
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
 font-family: $font-fast;
}

body{
 display: flex;
 flex-flow: column nowrap;
 justify-content: space-between;
}

main {
    flex-grow: 1;
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    position: static;
    &:focus {
      outline: none;
    }
}

footer{
  display: none;
}

.container{
    display: block;
    width: inherit;
    margin: 0 auto;
    position: relative;
}

.block{
   max-width: 1240px;
   margin: 0 auto;
}

a {
    color: $color-blue;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-skip: ink;
    font-weight: 500;
    text-decoration-color: $color-orange;

    &:focus, &:hover {
        text-decoration: underline;
    }
}

img{
  max-width: 100%;
}

.highlighter-rouge{
  margin-top: 1rem;
}

.highlight{
  padding: .5rem;
  line-height: 1.6;
  background: $color-blue;
  color: $color-white;
  @include font-size(1);
  overflow: auto;
}

.disabled-link{
	cursor: not-allowed;
	color: $grey-ghost;
}


// a11y: Hide element visually but keep it available to screenreaders
.visuallyhidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

[href="#main"] {
  position: absolute;
  top: 0;
  right: 110%;

  &:focus {
    right: auto;
  }
}

.global-footer{
 height: 100px;
 border-top: .2rem solid $grey-dark;
}
