
// Browser Fonts
$font-fast: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

//The font-size mixin
//spits out both the pixel value and rem value based on the number passed to the mixin.
//for example, h1{@include font-size(3.6);} will produce font-size:36px; and font-size:3.6rem;.
//Older browsers that don't support REM will default to the pixel value

@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) + px;
    font-size: $sizeValue + rem;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin default-transition {
    transition: all 0.25s ease; //adding a transition to all animatable elements is likely to cause jank and drop FPS
}


@mixin vertical-center{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin zed ($z) {
  @if $z == "low"{z-index: 100;}
  @else if $z == "mid"{z-index: 200;}
  @else if $z == "high"{z-index: 300;}
  @else if $z == "top"{z-index: 400;}
  @else if $z == "hammer"{z-index: 9999 !important;}
  @else {z-index: 0;}
}

@mixin clearfix {
    &::after{
        content:"";
        display:block;
        clear:both;
    }
}

// Form mixins located in "/_forms.scss"
