
.home{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 1rem;
}

.heading{
  @include font-size(1.3);
  grid-column: 1 / -1;
}

.heading-sub{
  grid-column: 2 / -1;
}

.indie-intro{
  grid-column: 1 / -1;
} 
  
.feed-block{
  grid-column: 1 / -1;
} 

.global-footer{
 display: block;  
}

.posts-list a{
  @include font-size(1.125);
}

li + li{
  margin-top: 1.3rem;
}

@media screen and (min-width: 30rem){

  .home{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }

  .heading{
    @include font-size(2.2);
    grid-column: 4 / 12;
  }
  
  .heading-sub{
    grid-column: 5 / 13;
    grid-row: 2;
  }
   
  .indie-intro{
    grid-column: 1 / 6;
  }
  
  .feed-block{
    grid-column: 7 / -1;
  }
}