.home{
  padding: 2rem;
}

.block{
  background: #ffffff;
  padding: 1.25rem;
  width: 100%;
}

.global-footer{
 display: block;
}

.posts-list a{
  @include font-size(1.125);
}

li + li{
  margin-top: 1.3rem;
}
