---
layout: null
---

<!DOCTYPE html>
<html lang="en">

  <head lang="en">

  <link rel="canonical" href="" />
  <link rel="icon" href="favicon.ico">
  <title>Site | 404</title>

  <!-- Static Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture styles %}
    {% include critical/new-critical.css %}
  {% endcapture %}

  <style>
    {{ styles | scssify }}
  </style>

</head>

{% include components/header.html %}

  <main id="main" tabindex="0">
  
    <h1>404</h1>
    
      <p>Page not found. :(</p>
      
  </main>

{% include components/footer.html %}

