.global-footer{
  min-height: 130px;
  padding: .5rem;
}

.indieweb-social{
 list-style: none;
 margin: 0;
 padding: 20px;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

 li + li{
  margin-top: 0;
 }

 a{
   color: $grey;
   text-decoration-color: $color-orange;
 }
}

.footer-bio{
  max-width: 460px;
  padding: 20px;
}
