.global-footer{
  background: $grey-dark;
  height: auto;
  color: $color-yellow-pale;
}

.indieweb-social{
 list-style: none;
 margin: 0;
 padding: 20px;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

 li + li{
  margin-top: 0;
 }

 a{
   color: $color-yellow-pale;
   text-decoration-color: $color-yellow-pale;

   &:hover{
     color: $color-purple;
   }
 }
}

.footer-bio{
  max-width: 460px;
  padding: 20px;
  color: inherit;
}
