  <!-- Meta tags for social media -->
  <meta property="og:locale" content="en" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}"  />
  <meta property="og:url" content="https://{{ site.data.settings.domainname }}{{ page.url }}"  />
  <meta property="og:site_name" content="{{ site.title }}"  />
  <meta property="og:image" content="https://{{ site.data.settings.domainname }}static-assets/images/icon-512x512.png" />
  <meta property="og:description" content="{{ site.data.about.bio }}"  />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="{{ page.title }}" />
  <meta property="twitter:image" content="https://{{ site.data.settings.domainname }}static-assets/images/icon-512x512.png" />
  <meta property="twitter:site" content="@{{ site.data.settings.twitter }}"  />
  <meta property="twitter:creator" content="@{{ site.data.settings.twitter }}"  />
  <meta property="twitter:description" content="{{ site.data.about.bio }}"  />