.post-container{
  margin-top: 4rem;
}

.post{
 max-width: 800px;
 padding: 10px 20px;
 margin: 0 auto;
}

.post-container p{
  @include font-size(1.125);
  line-height: 1.4;
  max-width: 640px;
}

.global-footer{
 display: block;
}

.mentions-list{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    border-left: 4px solid $color-yellow-pale;
  }

  li:nth-of-type(odd){
    background: $grey-ghost;
  }
}

.mention-item{
  padding: .5rem 0;


  cite{
    display: inherit;
    margin: .8125rem .4rem;
  }
}

.mention-form{
  fieldset{
    border: none;
    padding: 0 0 20px 0;
    margin-top: 30px;
  }

  input[type="url"]{
    width: 75%;
    margin-right: 2%;
    border: 1px solid $grey-dark;
    padding: 8px;
    border-radius: 4px;
  }

  input:required:empty{
    border:1px solid $grey-dark;
  }
}
