---
layout: standard
---

<article class="post h-entry">
  <header class="link-header">
    <h1 class="p-name">
        {{ page.title }}
    </h1>
    <p>Linked added by <a class="p-author h-card" href="{{ site.data.settings.domainname }}">{{ page.author }}</a>
     on <time class="dt-published" datetime="{{ page.date }}">{{ page.date | date: '%B %d, %Y' }}</time></p>
     <p>
       <a class="u-url" href="{{ page.url }}">Permalink</a>
     </p>
  </header>
  
  <div class="e-content post-container">
    <a href="{{ page.link }}">{{ page.link}}</a>
    {{ content }}
  </div>

  {% if site.data.settings.webmention == true %}
    {% include components/mentions.html %}
  {% endif %}

<input id="page-path" type="hidden" value="https://{{ site.data.settings.domainname }}{{ page.url }}" />
<input id="page-id" type="hidden" value="{{ page.id | md5 }}" />
