---
layout: standard
---

<article class="post h-entry">
  <header>
    <h1 class="p-name">{{ page.title }}</h1>
    <p>Published by <a class="p-author h-card" href="{{ site.data.settings.domainname }}">{{ page.author }}</a>
     on <time class="dt-published" datetime="{{ page.date }}">{{ page.date | date: '%B %d, %Y' }}</time></p>
     <p class="p-summary"><em>{{ page.abstract }}</em></p>
     <p>
       <a class="u-url" href="{{ site.data.settings.domainname }}{{ page.url }}">Permalink</a>
     </p>
  </header>

  <div class="e-content post-container">
    {{ content }}
  </div>

  {% if site.data.settings.webmention == true %}
    {% include components/mentions.html %}
  {% endif %}

  
<input id="page-path" type="hidden" value="{{ site.domainname}}{{ page.url }}" />
<input id="page-id" type="hidden" value="{{ page.id | md5 }}" /> 
