<!DOCTYPE html>
<html lang="en" class="online">

    {% if site.data.settings.bootstrap == false %}
    {% include components/head.html %}
    {% else %}
    {% include bootstrap/bootstrap.html %}
    {% endif %}

  <body>
    {% include components/header.html %}

    <main id="main" class="container" tabindex="0">
      {{ content }}
    </main>

    {% if site.data.settings.bootstrap == false %}
    {% include components/footer.html %}
    {% else %}
    {% include bootstrap/boot-footer.html %}
    {% endif %}

  </body>
</html>
