<footer class="global-footer" role="contentinfo">

 <ul class="indieweb-social">
  {% for social in site.data.me.social %}
    <li>
      <a href="{{social.url}}" rel="me">
        {{ social.name }}
      </a>
    </li>
  {% endfor %}
</ul>
 <p>
  &copy; 2018
 </p>
</footer>

{% if page.pagejs %}
 <script  src="static-assets/js/{{ page.pagejs }}"></script>
{% endif %}

<script>
// Ye Olde Service Worker----------------------------------------------
(function() {
 'use strict';
  if ('serviceWorker' in navigator) {
   navigator.serviceWorker
   .register('/sw.js',{
    scope: '/'
   })
   .then(function() { console.log('Service Worker Registered');  });
  }
 })();
</script>
