<head lang="en">
  <script>
    // https://github.com/filamentgroup/loadCSS
    !function(e){"use strict"
    var n=function(n,t,o){function i(e){return f.body?e():void setTimeout(function(){i(e)})}var d,r,a,l,f=e.document,s=f.createElement("link"),u=o||"all"
    return t?d=t:(r=(f.body||f.getElementsByTagName("head")[0]).childNodes,d=r[r.length-1]),a=f.styleSheets,s.rel="stylesheet",s.href=n,s.media="only x",i(function(){d.parentNode.insertBefore(s,t?d:d.nextSibling)}),l=function(e){for(var n=s.href,t=a.length;t--;)if(a[t].href===n)return e()
    setTimeout(function(){l(e)})},s.addEventListener&&s.addEventListener("load",function(){this.media=u}),s.onloadcssdefined=l,l(function(){s.media!==u&&(s.media=u)}),s}
    "undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this)
  </script>
  <!-- Static Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="&copy 2018 " />
  <meta name="description" content="Site description" />
  <meta name="robots" content="index, follow"  />
  <link rel="canonical" href="{{ site.baseurl }}" />
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#0073bd">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/static-assets/images/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}static-assets/images/icon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}static-assets/images/icon-16x16.png">
  <link rel="mask-icon" href="static-assets/images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="icon" href="favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="{{ site.sitename}} RSS" href="/feed.xml">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>


  <!-- Meta tags for social media -->
  <meta property="og:locale" content="en" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{page.title}}"  />
  <meta property="og:url" content="{{ site.domainname }}{{ page.url }}"  />
  <meta property="og:site_name" content="{{ site.title }}"  />
  <meta property="og:image" content="static-assets/images/icon-512x512.png" />
  <meta property="og:description" content="Site description"  />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="{{ page.title }}" />
  <meta property="twitter:image" content="{{ site.domainname }}{{ site.baseurl }}{{ site.assetsurl }}images/icon-512x512.png" />
  <meta property="twitter:site" content="@jshvgt"  />
  <meta property="twitter:creator" content="@jshvgt"  />
  <meta property="twitter:description" content="site description"  />
  <link rel="pingback" href="https://webmention.io/{{ site.about.me.webmention }}/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/{{ site.about.me.webmention}}/webmention" />
  <link rel="authorization_endpoint"
        href="https://indieauth.com/auth">
  {% capture styles %}
    {% include critical/new-critical.css %}
  {% endcapture %}

  {% if page.layout == "posts" %}
  {% capture postsStyle %}
    {% include critical/posts.css %}
  {% endcapture %}
  {% endif %}

  {% if page.pagestyle %}
   {% capture critical %}
    {% include critical/{{ page.pagestyle }} %}
   {% endcapture %}
  {% endif %}

  <style>
  {{ styles | scssify }}{{ critical }}{{ postsStyle}}
  </style>

  {% if jekyll.environment != "production" %}
  <script>
    loadCSS("{{ site.baseurl }}static-assets/css/new-base.css");
  </script>
  {% endif %}

 {% if jekyll.environment == "production" %}
 <script>
    loadCSS("{{ site.baseurl }}static-assets/css/new-base-820ec1693e.css");
 </script>
 {% endif %}
 <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
